<% provide(:title, "Koti") %>
<h1>Koti</h1>
<p>Täältä löytyy kirjautumiset ja muut</p>
<%= link_to "Kirjaudu asukkaana", '#' %>
<br>
<%= link_to "Kirjaudu isännöitsijänä", '#' %>
<br>
<%= link_to "Luo isännöitsijä", create_user_path %>
