<h2>Ylläpitäjä: <%= @admin.email %></h2>
<div class="owner-list-cont">
  <% if @admin.owners.any? %>
    <h3>Taloyhtiöt: (<%= @admin.owners.count %>)</h3>
    <ol class="owner-list">
      <%= render @owners %>
    </ol>
  <% end %>
</div>
