
    <%
    @isNotToday = DateTime.now.strftime("%u").to_i != reservation_slot.day


    if @isNotToday %>
      <td>
    <% else %>
     <td style="background-color: lightblue">
    <% end %>

<p class="table-time-slot">
    <%
    if reservation_slot.reservation_token_id != nil
      @userId = ReservationToken.find_by_id(reservation_slot.reservation_token_id).user_id
      @userName = User.find_by_id(@userId).name
    else
      @userId = 0
    end

    current_user

     if @target.category ==2 or (@isNotToday and (@userId == @current_user.id or reservation_slot.reservation_token_id == nil))%>
    <%= link_to reservation_slot.startTime.to_s + "-" + reservation_slot.endTime.to_s, reservation_slot %>
    <% else %>
      <%= reservation_slot.startTime.to_s + "-" + reservation_slot.endTime.to_s %>
    <% end %>
</p>
    <% if @userId != 0 %>
    <p class="table-user-name"><%= @userName %> </p>
    <%end%>

    </td>
