<li>
    <% if(reservation_target.name != "Kuivaushuone") %>
    <%= link_to reservation_target.name, reservation_target, class: "link-button button-large blue" %>
    <% else %>
    <p>Pilotti on ohi. Kiitos kaikille käytöstä.</p>
    <p>Uusi varausjärjestelmä korvaa tämän ja on käytössä osoitteessa <a href="https://hakolahdentie2.com">hakolahdentie2.com</a>.</p>
    <p>Käy rekisteröitymässä ja pääset varaamaan saunavuoroja pikapuoliin.</p>
    <% end %>
</li>
