<div class="page-header-wide">
  <h1 class="">Varaukset</h1>
</div>
<ul class="reservation-target-list">
  <%=render @targetList %>
</ul>
<h3 class="middle">
  Lähetä palautetta <%= link_to "täältä.", new_owner_feedback_path(Owner.find_by_id(current_user.owner_id))%>
</h3>
