<% @dayNames = ["Maanantai", "Tiistai", "Keskiviikko", "Torstai", "Perjantai", "Lauantai", "Sunnuntai"] %>
<% @todayDayNum = DateTime.now.strftime("%u").to_i %>

<div class="reservation-target-list">
  <table>
    <% for @dayIndex in 1..@target.timeWindowInDays %>
        <tr class="table-row">
        <% if @dayIndex != 1 %>
          <td class="table-week-day">
        <% else %>
          <td class="table-week-today table-week-day">
        <% end %>
          <% @di = get_adjusted_day_index(@todayDayNum, @dayIndex) %>
          <%= @dayNames[@di-1] %>
          </td>
        <%= render @reservation_slots.where("day = ?", @di).order(:startTime) %>
        </tr>
    <% end %>
  </table>
</div>
