/* colors */
$background: #f8f8fa;
$secondarybg: #fff;
$honebg: $background;
$hone: #444;
$topbar: #0088ee;
$navbtn: #0088ee;
$warning: #ff0000;
$flashbg: $navbtn;
$flash: $background;
$textlinkbtn: $navbtn;
$textlink: $background;
$hover: #cceeff;
$nohover: #eee;


$tabledaystart: $background;
$tabledayend: $background;


$datebg: $background;
$date: #555;
$timetext: #333;
$usertext: #666;
$statetext: #888;
$othersslot: $secondarybg;
$ownslot: #fffdb9;
$freeslot: $secondarybg;
$freeind: #009900;
$weeklyind: #0099ff;
$onetimeind: #ff9900;
$reservedind: #aaa;
$pastind: #ccc;

$notetext: #666;


$weekdayheader: #333;

$shadow: #ddd;

$topbtntext: #fff;

$reservationbtn: #eee;

$border: #ccc;

$listpre: #333;
$listclick: #333;
$listbtn: $secondarybg;
$buttontext: #fff;
$buttonblue: $navbtn;
$buttongreen: #11cc33;
$buttonred: #ee1133;

$forminput: $background;


/* math */
$slotsize: 20vw;
$smallslotsize: 13vw;
$slotsized: 95px;
$smallslotsized: 60px;
$topbarheightm: 14vw;
$topbarheightd: 75px;
