$background: #e5ecf1;
$tabletoday: lightblue;
$tablenoday: #eee;
$navbtn: #eee;
$reservblslt: lightgreen;
$releasedslt: yellow;
$noactionslt: lightgray;
$reservclickable: #333;
$weekdayheader: #333;
$shadow: #bbb;
$topbar: grey;
$topbtntext: #333;
$reservationbtn: #fff;
$border: #bbb;
$listpre: #333;
$listclick: #333;
$listbtn: lightblue;
$forminput: #fff;
