$background: #fdfdff;
$tabledaystart: $background;
$tabledayend: $background;
$topbar: $background;
$navbtn: $topbar;
$reservblslt: lightgreen;
$releaseotdslt: #ffe296;
$releasepdslt: #95cde8;
$noactionslt: lightgray;
$reservclickable: #333;
$weekdayheader: #333;
$shadow: #888;
$topbtntext: #333;
$reservationbtn: #eee;
$border: #bbb;
$listpre: #333;
$listclick: #333;
$listbtnstart: #fafafa;
$listbtnend: $background;
$forminput: #fff;
$flash: #dd8833;
