/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,300italic,300);
@import "variables";

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: $background;
}

h2.warning {
  color: $warning;
}

.middle {
  text-align: center;
}

.blue {
  background: $buttonblue;
}
.green{
  background: $buttongreen;
}
.red{
  background: $buttonred;
}

/*MOBILE*/
@media only screen and (max-width: 780px) {

  div.body-container {
    margin: $topbarheightm 0 0 0;
    padding: 0;
  }

  small {
    display: block;
    margin: 0;
    padding: 4.5vw;
    font-size: 3vw;
  }

  h1 {
    margin: 1px 0 0 0;
    padding: 2vw 0;
    width: 100%;
    text-align: center;
    font-size: 8vw;
    font-weight: 300;
    background: $honebg;
    color: $hone;
  }

  .getnew {
    width: 100%;
    margin: 0;
    padding: 0.5vw 0;
    background: $secondarybg;
    color: $hone;
    text-align: center;
    display: inline-block;
    float: left;
    font-style: italic;
    font-size: 5.5vw;
  }

  h2 {
    font-weight: 300;
    font-size: 7vw;
    color: $hone;
  }

  h3 {
    font-weight: 300;
    font-size: 5vw;
    height: 8vw;
    color: $hone;
  }

  .help-info {
    margin: 2vw;
  }

  .text-link {
    padding: 0 1vw;
    font-weight: 300;
    display: inline-block;
    position: relative;
    text-decoration: none;
    background: $textlinkbtn;
    color: $textlink;

    border-radius: 2px;
  }

  div.flash {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 4vw;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 400;
  }

  .flash-success {
    color: $flash;
    background: $flashsuccess;
  }

  .flash-danger {
    color: $flash;
    background: $flashdanger;
  }

  p.note {
    text-align: center;
    color: $notetext;
    font-size: 5vw;
    font-style: italic;
  }

  .help-container {
    padding: 2vw 2% 0 0;
    width: 98%;
    height: 7vw;
  }

  .corner-button {
    display: block;
    float: right;
    font-size: 4vw;
  }

  div.help-info {

    h2 {
      font-size: 7vw;
      font-weight: 600;
      color: black;
    }
    h3 {
      font-size: 6.5vw;
      font-weight: 500;
      color: black;
    }
    p {
      font-size: 5vw;
      font-weight: 500;
      color: black;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

/*DESKTOP*/
@media only screen and (min-width: 781px) {

  div.body-container {
    margin: $topbarheightd 0 0 0;
    padding: 0;
  }

  div.page-header-wide, div.page-header-narrow {
    margin: 0 auto;
    width: 100%;
    h1 {
      text-align: center;
      margin: 0 0 20px 0;
    }
  }

  div.page-header-wide {
    max-width: 1200px;
  }

  div.page-header-narrow {
    max-width: 400px;
  }

  small {
    display: block;
    margin: 0;
    padding: 20px;
    font-size: 14px;
  }

  h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: $hone;
  }

  .getnew {
    width: 100%;
    margin: 1px 0 0 0;
    padding: 0.5vw 0;
    background: $honebg;
    color: $hone;
    text-align: center;
    display: inline-block;
    font-style: italic;
    font-size: 20px;
  }

  h2 {
    font-weight: 300;
    color: $hone;
    font-size: 32px;
  }

  h3 {
    font-weight: 300;
    font-size: 30px;
    color: $hone;
  }

  .help-info {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    img {
      padding: 0;
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }

  a.text-link {
    padding: 0 4px;
    margin-top: 5px;
    margin-right: 5px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    text-decoration: none;
    background: $textlinkbtn;
    color: $textlink;
    border-radius: 2px;
  }

  div.help-container {
    width: 100%;
    height: 30px;
  }

  .corner-button {
    display: block;
    float: right;
    font-size: 22px;
  }

  div.flash {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 22px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 400;
  }

  .flash-success {
    color: $flash;
    background: $flashsuccess;
  }

  .flash-danger {
    color: $flash;
    background: $flashdanger;
  }

  p.note {
    text-align: center;
    color: $notetext;
    font-size: 20px;
    font-style: italic;
  }

  div.help-info {
    h2 {
      font-size: 30px;
      font-weight: 600;
      color: black;
    }
    h3 {
      font-size: 28px;
      font-weight: 500;
      color: black;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      color: black;
    }
  }
}
