/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic);
@import "variables";

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: $background;
}

/*MOBILE*/
@media only screen and (max-width: 780px) {

  small {
    display: block;
    margin: 0;
    padding: 4vw;
    font-size: 3vw;
  }

  h1 {
    margin: 0 2vw;
    font-size: 7vw;
    font-weight: 400;
    font-style: italic;
  }

  div.flash {
    margin: 0;
    padding: 0 2vw;
    font-size: 5vw;
    color: $flash;
    font-style: italic;
    font-weight: 300;
  }
}

/*DESKTOP*/
@media only screen and (min-width: 781px) {

  div.page-header-wide, div.page-header-narrow {
    margin: 0 auto;
    width: 100%;
    padding: 0 40px;
    h1 {
      text-align: left;
      margin: 0;
    }
  }

  div.page-header-wide {
    max-width: 1200px;
    h1 {
      padding-left: 10px;
    }
  }

  div.page-header-narrow {
    max-width: 400px;
  }

  small {
    display: block;
    margin: 0;
    padding: 20px;
    font-size: 14px;
  }

  h1 {
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    font-style: italic;
  }

  div.flash {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    font-size: 24px;
    color: $flash;
    font-style: italic;
    font-weight: 300;
  }
}
