@import "variables";

/*MOBILE*/
@media only screen and (max-width: 780px) {
  ul.reservation-target-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a.button-large{
    width: 90%;
    padding: 3vw 0;
    display: block;
    margin: 10px auto;
    text-decoration: none;
    font-size: 7vw;
    font-weight: 300;
    border-radius: 2px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: $buttontext;
  }
  a.blue {
    background: $buttonblue;
  }
  a.green{
    background: $buttongreen;
  }
  a.red{
    background: $buttonred;
  }
}

/*DESKTOP*/
@media only screen and (min-width: 781px) {

  ul.reservation-target-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  a.button-large {
    width: 100%;
    max-width: 400px;
    padding: 15px 0;
    display: block;
    margin: 30px auto;
    text-decoration: none;
    color: $buttontext;
    font-size: 30px;
    font-weight: 300;
    border-radius: 2px;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  a.blue {
    background: $buttonblue;
  }
  a.green{
    background: $buttongreen;
  }
  a.red{
    background: $buttonred;
  }
}
