@import "variables";

/*MOBILE*/
@media only screen and (max-width: 780px) {
  header {
    position:fixed;
    top:0;
    left:0;
    z-index: 1000;
    background: $topbar;
    width: 100%;
    height: $topbarheightm;
    margin: 0;
    padding: 0;
    overflow: hidden;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .topbar-btn {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: 400;
    font-size: 5vw;
    margin: 0 3%;
    padding: 4vw 0 4vw 0;
    display: inline-block;
    color: $topbtntext;
    background-color: $navbtn;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }

  #reservations-btn {
    width: 44%;
    float: left;
  }

  #logout-btn {
    width: 44%;
    float: right;
  }
}

/*DESKTOP*/
@media only screen and (min-width: 781px) {
  header {
    position:fixed;
    top:0;
    left:0;
    z-index: 1000;
    background: $topbar;
    width: 100%;
    height: $topbarheightd;
    margin: 0 0 20px 0;
    padding: 0;
    ul {
      list-style: none;
      margin: 0 auto;
      width: 420px;
      padding: 0;
    }
  }

  .topbar-btn {
    font-weight: 300;
    font-size: 26px;
    padding: 12px 0 12px 0;
    margin: 8px 4px;
    color: $topbtntext;
    width: 200px;
    background-color: $navbtn;
    text-decoration: none;
    text-align: center;
    display: block;
  }

  #reservations-btn {
    float: left;
  }

  #logout-btn {
    float: right;
  }
}
