<%
  @dayNames = ["Maanantai", "Tiistai", "Keskiviikko", "Torstai", "Perjantai", "Lauantai", "Sunnuntai"]
  @slot = ReservationSlot.find_by(reservation_token_id: reservation_token.id)
  @dayString = ""
  @timeString = ""
  @stateString = ""
  if(@slot != nil)
    @timeString =  @slot.startTime.to_s.slice(0..1) + ":" + @slot.startTime.to_s.slice(2..3) + "-" + @slot.endTime.to_s.slice(0..1) + ":" + @slot.endTime.to_s.slice(2..3)
    @stateString = "Käytössä"
    @dayString = @dayNames[@slot.day-1]
  else
    @timeString = " -   :  -  :  "
    @stateString = "Ei käytössä"
    @dayString = "--"
  end
%>

<div class="indicator free-ind"></div>
  <div class="res-info-container">
    <p class="res-state"> <%= @stateString %></p>
    <p class="res-day"><%= @dayString %></p>
    <p class="res-time"><%= @timeString %></p>
  </div>
