<li id="reservation_token-<%= reservation_token.id %>" class="list-item">
  <p>
    <% reservation_tar = ReservationTarget.find_by_id(reservation_token.reservation_target_id) %>
    <%= link_to reservation_tar.name, reservation_tar %>
  </p>
</li>
