<h1>Uusi varaus</h1>
<h2 class="middle">Kohde: <%= @target.name %></h2>
<%= link_to "Luo Vakiovaraus", createtoken_path(reservation_target_id: @target.id, tokenType: 1), method: "post", data: { confirm: "Oletko varma että haluat hankkia Vakiovarauksen?" }, class: "res-target" %>
<%= link_to "Luo Kertavaraus", createtoken_path(reservation_target_id: @target.id, tokenType: 2), method: "post", data: { confirm: "Oletko varma että haluat hankkia Kertavarauksen?" }, class: "res-target" %>
