<div class="reservation-token-list">
  <% if @reservation_tokens.count > 0 %>
    <%= render @reservation_tokens %>
  <% else %>
    No tokens to use. Please contact your resource administrator.
  <% end %>
</div>
