<div class="reservation-token-list">
  <% if @reservation_tokens != nil %>
    <% if @reservation_tokens.count > 0 %>
      <%= render @reservation_tokens %>
      <% else %>
        Sinulla ei ole oikeutta varauksiin. Ole yhteydessä isännöitsijään.
    <% end %>
  <%else%>
      Sinun täytyy ensin kirjautua sisään, jotta voit käyttää tätä sovellusta.
  <% end %>
</div>
