<div class="reservation-token-list-container">
  <% if @reservation_tokens != nil %>
    <% if @reservation_tokens.count > 0 %>
      <ul class="reservation-token-list">
        <%= render @reservation_tokens %>
      </ul>
      <% else %>
        Sinulla ei ole oikeutta varauksiin. Ole yhteydessä isännöitsijään.
    <% end %>
  <%else%>
      Sinun täytyy ensin kirjautua sisään, jotta voit käyttää tätä sovellusta.
  <% end %>
</div>
