<header>
  <div class="topbar">
    <%= link_to "Taloyhtiöappi", '#', id: "logo" %>
    <nav>
      <ul>
        <li><%= link_to "Koti", static_pages_home_path %></li>
        <li><%= link_to "Help", static_pages_help_path %></li>
        <li><%= link_to "About", static_pages_about_path %></li>
      </ul>
    </nav>
  </div>
</header>
