<header>
  <div class="topbar">
    <nav>
      <ul>
        <% if userlogged_in? %>
          <%= link_to "Reservations ", root_path, id: "logo" %>
          <%= link_to "Kirjaudu ulos", userlogout_path, method: "delete" %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
