<header>
  <div class="topbar">
    <nav>
      <ul>
        <% if userlogged_in? %>
          <p class="header-reservations"><%= link_to "Reservations", root_path, id: "logo" %></p>
          <p class="header-logout"><%= link_to "Kirjaudu ulos", userlogout_path, method: "delete" %></p>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
