<header>
  <div class="topbar">
    <%= link_to "Taloyhtiöappi", root_path, id: "logo" %>
    <nav>
      <ul>
        <li><%= link_to "Koti", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </div>
</header>
