<header>
  <nav class="topbar">
    <ul>
      <% if userlogged_in? %>
        <li>
          <%= link_to "Varaukset", root_path, id: "reservations-btn", class: "topbar-btn" %>
        </li>
        <li>
          <%= link_to "Kirjaudu ulos", userlogout_path, method: "delete", id: "logout-btn", class: "topbar-btn" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
